
nav {
    
    margin: 0px 100px;
    display: block;
    /* background-color: #e4f5f5; */
    height: 60px;
    background-image: url("../imgs/wave.png");
    background-size: 250px ;
    background-position: left;
    background-repeat: no-repeat; 
    
    
}
nav div {
    
}

.about {
   
    background-image: url("../imgs/water.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;    
    color:#243142;
    font-size: 30px;
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 0.5px;
    font-family: 'Cairo', sans-serif;
    text-transform: uppercase;   
    font-weight: bold;       
}

.provide {
    background-color: #aed5f5;
    background-image: url("../imgs/water.png");
    background-repeat: repeat-x;
    background-attachment: fixed; 
    background-position: 30% 40%; 
    background-size: cover; 
   border:  5px solid cyan; 
}
body {
    margin: 0;
    clear :both;
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: left ;    
}

section {

   width:  80%;
  margin: auto; 

}
article {
    text-align: inherit ;
    text-indent: 20px;
    font-size: 16px;      
    font-style: normal;
    font-weight: 100;
    line-height: 1.6;
    font-family: 'Cairo', sans-serif;
    font-family: 'Recursive', sans-serif;
    
}
header {
    
}


aside {

}
.footer {
   
    
    background-color:#225459;
    color : white;
    height: 300px;
}
.rights {
    background-color: #272c31 ;
    color:#225459;
    text-align: center;
    
    height: 100px;
    font-size: 20px;
    
}
.rights span {
    vertical-align: middle;
   line-height: 100px;
   font-weight: bold;
  
}
a {
    background-color: darkblue;
    color: white;
    display: inline-block;
    padding: 1px;
    margin: 1px;
    border-radius: 4px;
    text-decoration: none;

}



