
nav {       
    display: block;   
    width: 100%;
    background-color: white;
    height: 60px;
    background-image: url("../imgs/wave.png");
    background-size: 250px ;
    background-position: 100px;
    background-repeat: no-repeat; 
    overflow: hidden;
    position: fixed;
    top:0;       
}
nav a {
    text-decoration: none;
    float: Right;
    display: block;
    color: #585a5e;
    text-align: center;
    padding: 20px 20px;
    width: 80px;
    height: 60px;  
    font-weight: bold; 
}
.navlinks {
    margin-right: 70px;
}
nav a:hover {
    background: white;
    color:cyan;
}

.about {
   
    background-image: url("../imgs/water.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;    
    text-align: center;
    font-weight: bold;                  
}
.about .abouthead {
    color:#243142;
    padding-top: 100px;
    font-size: 32px;
    word-spacing: 4px;
    letter-spacing: 0.5px;
    font-family: 'Cairo', sans-serif;
    text-transform: uppercase; 
    
    -webkit-text-stroke: 1.2px #2e65a3;  
   
}
.slogan {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    color: purple;
    -webkit-text-stroke: 0.2px black;  
    padding-top: 200px;
   
}
.provide {
    background-color: #aed5f5;
    background-image: url("../imgs/water.png");
    background-repeat: repeat-x;
    background-attachment: fixed; 
    background-position: 30% 40%; 
    background-size: cover; 
   border:  5px solid cyan; 
}
body {
    margin: 0;
    margin-top: 60px;
    clear :both;   
    font-family: Arial, Helvetica, sans-serif;
    text-align: left ;    
}

section {

   width:  80%;
  margin: auto; 

}
article {
    text-align: inherit ;
    text-indent: 20px;
    font-size: 16px;      
    font-style: normal;
    font-weight: 100;
    line-height: 1.6;
    font-family: 'Cairo', sans-serif;
    font-family: 'Recursive', sans-serif;
    
}
header {
    
}

aside {

}
.footer {
   
    
    background-color:#225459;
    color : white;
    height: 300px;
}
.rights {
    background-color: #272c31 ;
    color:#225459;
    text-align: center;
    
    height: 100px;
    font-size: 20px;
    
}
.rights span {
    vertical-align: middle;
   line-height: 100px;
   font-weight: bold;
  
}
.footerlinks {
    background-color: darkblue;
    color: white;
    display: inline-block;
    padding: 1px;
    margin: 1px;
    border-radius: 4px;
    text-decoration: none;

}



