
:root {
--footerColor: #0a8d99;
--productColor: #1484de;
}

nav {       
   display: flex; 
   flex-flow: row-reverse nowrap;
    width: 100%;
    background-color: white;
    height: 60px;
    background-image: url("../imgs/wave.png");
    background-size: 250px ;
    background-position: 100px;
    background-repeat: no-repeat; 
    overflow: hidden;
    position: fixed;
    top:0; 
    box-shadow: 0 1px 20px 0 rgba(24, 32, 37, 0.315);}

.gotop {
    display: inline;
    float: left;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    position: fixed;
    left: 1250px;
    top: 580px;
    background-image: url(../imgs/up.svg);
    }
nav a {
    text-decoration: none;
    float: Right;
    display: block;
    color: #585a5e;
    text-align: center;
    padding: 20px 20px;
    width: 80px;
    height: 60px;  
    font-weight: bold; 
    transition-duration: 200ms;
}
.navlinks {
    margin-right: 70px;
}
 a:hover {
    color:cyan;
    margin-right: 2px;
}
.products {
    display: block;
    height: 200px;
    font-size: 50px;
    color: var(--productColor,blue);
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    text-shadow: 1px 1px 10px rgba(128, 128, 128, 0.473);
    
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: space-evenly; 
   /* space-between, flex-start, flex-end, centre  */
    
}

article{
    width: 400px;
    height: 600px;
    background-color: rgba(218, 218, 218, 0.671);
    width: calc(90/3px);
    margin-bottom: 200px;
    text-align: center;
    border-bottom: solid 10px var(--productColor,blue);
    box-shadow: 10px 10px 20px 0 grey ;
}
article img {
    width: 400px;
    height: 400px;
}
article label {
    font-size: 28px;
    color: var(--productColor,blue);
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    text-shadow: 1px 1px 10px rgba(128, 128, 128, 0.473);
    line-height: 25px;
}
article p {
    padding: 15px;
text-align: left;
}
article a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(0, 247, 255);
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    transition-duration: 200ms;
   
}
article a:hover {
    text-shadow: 1px 1px  2px rgb(4, 4, 212) ;
    margin-left: 40px  !important;
}

body {
    margin: 0;
    margin-top: 60px;
    clear :both;   
    font-family: Arial, Helvetica, sans-serif;
    text-align: left ;    
}

footer {
   
    
    background-color: var(--footerColor,cyan);
    color : white;
    height: 600px;
    width: 100%;
   
    
}

.footercontact,.footersocial, .footermenu {
    
    
    float: left;
    width: calc(90%/3);
    height: 600px;
    margin-left: 2.5%; 
    /* it has to be left! */
   
}

footer img {
     height: 120px;
     display: block;
     margin: auto;
     margin-bottom: 50px;
}
.fbclipart,.instaclipart,.emailclipart {
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 170px;
}
.fbclipart{
    background-image: url("../imgs/fb.svg");
}
.instaclipart{
    background-image: url("../imgs/insta.svg");     
}
.emailclipart{
    background-image: url("../imgs/email.svg"); 
}

footer label {
    
    text-align: center;
    padding-top: 20px ;
    width: 100%;
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Changa', sans-serif;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    
}
footer a {
    text-align: center;
    display: block;
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    height: 50px;
    color: white;
 transition-duration: 500ms;
}


.rights {
    background-color: #1e2124 ;
    color: var(--footerColor,cyan);
    text-align: center;    
    height: 100px;
    font-size: 20px;
    
}
.rights span {
    vertical-align: middle;
   line-height: 100px;
   font-weight: bold;

}