
nav {       
    display: block;   
    width: 100%;
    background-color: white;
    height: 60px;
    background-image: url("../imgs/wave.png");
    background-size: 250px ;
    background-position: 100px;
    background-repeat: no-repeat; 
    overflow: hidden;
    position: fixed;
    top:0;       
}
nav a {
    text-decoration: none;
    float: Right;
    display: block;
    color: #585a5e;
    text-align: center;
    padding: 20px 20px;
    width: 80px;
    height: 60px;  
    font-weight: bold; 
}
.navlinks {
    margin-right: 70px;
}
 a:hover {
    color:cyan;
}
.products {
    display: block;
    height: 200px;
    font-size: 50px;
    color: #1484de;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    
}
section{
    display: inline-block;
    height: 2000px;
}
article{
    
}

body {
    margin: 0;
    margin-top: 60px;
    clear :both;   
    font-family: Arial, Helvetica, sans-serif;
    text-align: left ;    
}

footer {
   
    
    background-color:#0a8d99;
    color : white;
    height: 600px;
    width: 100%;
   
    
}

.footercontact,.footersocial, .footermenu {
    
    
    float: left;
    width: calc(90%/3);
    height: 600px;
    margin-left: 2.5%; 
    /* it has to be left! */
   
}

footer img {
     height: 120px;
     display: block;
     margin: auto;
     margin-bottom: 50px;
}
.fbclipart{
    background-image: url("../imgs/fb.PNG");
    background-repeat: no-repeat;
    background-position: 110px -1px;
}
.instaclipart{
    background-image: url("../imgs/insta.PNG");
    background-repeat: no-repeat;
    background-position: 112px -3px;
    background-size: 132px;
}
.emailclipart{
    background-image: url("../imgs/email.PNG");
    background-repeat: no-repeat;
    background-position: 113px -3px;
    background-size: 130px;
}

footer label {
    
    text-align: center;
    padding-top: 20px ;
    width: 100%;
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Changa', sans-serif;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    
}
footer a {

    text-align: center;
    display: block;
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    height: 50px;
    color: white;
}


.rights {
    background-color: #1e2124 ;
    color:#0a8d99;
    text-align: center;    
    height: 100px;
    font-size: 20px;
    
}
.rights span {
    vertical-align: middle;
   line-height: 100px;
   font-weight: bold;

}