/*
.one , .lol , div , .test {
common attributes and values here
}

div p {    
    nesting >>  parent tag then inner tag or inner class and so on then curely braces
}

body div .title {
    nesting >> to make sure there are no conflicts
} 
/* 16px is default font size, can write larger,smaller (than parent) */
    /* em is a unit that means times! so 1em is the same, 2em is 2 times the font and 3em is 3 times
    3 times than what? than the PARENT font which if left default is 16 
    rem is the same but inherits from html .. % takes a percentage from the parent 
    vw => view port width , is a precentage of the width and its DYNAMIC with the page!
    */ 
    /* 
 Display: block / inline / inline-block / none 

block: div
- takes full width/height if not specified (width: .. height:..)
- adds break
- respects width/height/padding/margin

inline: span
- doesnt respect width/height
- doesnt add break
- respects padding and margin but with left and right only 

inline-block
- respects width/height/padding/margin
-  Allows elements before and after it */

/* visibility: visible is default| hidden hides it but leaves its space |display: none; hides it and no space */
/*   max-wdith, min-width, max-height, min-height*
overflow / overflow-x / overflow-y : hidden / auto >> adds a scroll if text exceeded
text-overflow: ellipsis >> will do dots.. if overflow hidden
/
/* direction : ltr >> default for english /  rtl >> for arabic*/
/* inner elements and classes inside inherit some attributes and other attributes such as padding and background-color: 
    are not inherited .. u can also put anny-attribute : inherit; */
  /* with clock cycle top right bot left 1 value does it for all | other takes top with bot 
    and right with left | there is also padding-left ..etc  also can take percentage */ 

/* normal tag name will go for every tag to select a class .classname to select an id #idname but id is bad practice */ 

/* you can write css style in here as an external file using link which is best practice, or in 
<style> write css codes here </style> on html file or as global attribute
 style = "write css code here" which are bad pracitces */
    /* word-break: break-all; */
    /* word-break: break-word */
    
     /* border-width: 10px 20px;
    border-style: solid dotted dashed;
    border-color: blue  green; */

    /* background-attachment: fixed; scroll is default 
    background-position: 30% 40%;  or left top / center top ..etc 
    background-size: cover;  cover stretches, contain doesnt stretch or 200px 80px or 50% 70%  */
    
  /* letter-spacing: 2px; can take -ve values same for word-spacing
    white-space: nowrap;  default is normal >> makes it br when width is reached */

   /* to divide equal heights and width squares .. lets say 4 kids   it means we have 5 spaces between them so 6% 
   and 94% left 
parent {
height: 500px

   }
kids {
height: 400px;
width: calc(94%/4);
margin-left: 1%;
float: left;

if height of kids is more than height of parent do class add clear:both do it and added it after kids in  */

  /* if u want to allign an img in div just to margin:auto */
  /* position: static; mafesh 7aga hat2asar feh.. top: 69; , left right bottom: anything doesnt matter */
  /* position: relative; will move left right top bottom relative to itself */
  /* position: absolute; will move top right left bottom relative to parent actual page or if its inside a div
    it will move relative to it if and only if parent div has position relative
    so child absolute, parent relative, child moves in parent */
    /* position: fixed; moves right left bottom top relative to page only and stays on page when scroll 
    used in Nav and Pagetop button      */
    /* position: sticky;
    top:0;       makes it scroll till it reaches top:0 then it is fixed */
    /* opacity takes values less than 1 , 1 is visible and it applies to whole div */
    /* z-index must work with position, it takes a number and the higher appears in front 
    default is from down to up in html */
    /* ul {
      list-style-image: url(../imgs/up.svg);
      list-style: none;
      padding-left: 0;
      margin: 0;   to remove default style, can be used in NAV!
    }
    */
    /* other pseodoclasses/states like hover are visited,checked,link,empty,focus
    element/tag/class:pseodoclass { atributes and values} */
    /* .hi::first-letter {
      display: inline-block;
      font-size: 40px;
      background-color: cyan ;
    }   
    1 colon >> pseodoclasses/states
    2 colons >> pseodoELEMENTS like >> first-letter , first-line and SELECTION!!..etc (not an actuall :tag)
    used better than span if u cant access html file */
    /* .levw::before {
      content: "";
      height: 0px;
      width: 0px;
      background-color: cyan;
      position: absolute;
      top: 0;
      left: -50 px;
      border-style: solid;
      border-width: 10px;
      border-color: transparent transparent transparent red;
    }
    before and after are pseodoelements behind and ater the div/anything better than
    making a span behind or after it in html file. It must have content = "" empty or type something
    in that before or after space 

  arrows can be made by borderstyle and borderwidth ten bordercolor transparent 3 sides and 1 colored
  where the arrow points , width and height must be 0 */
  /* border: 2px solid purple ;
    border-radius: 10%;
    border-bottom-right-radius: 30px; */
    
    /* text-shadow: Hshadow Vshadow Blur Color */
    /* box-shadow: H-shadow V-Shadow Blur Spread Color Inset/ or leave it empty if outset
    adds prefix when use css auto prefix easier */
    
* {
    box-sizing: border-box;
}
/* content-box >> by7sb el width wel height bas
border-box >> by7sab el width wel height wel padding wel margin */

/* width: 70% !important; , !important is used to override any cssfile> styletag >style inline attribute */
 /*for parent : 
  display: flex; */
 /* flex-direction: row / row-reverse  >> ganb ba3d  similar to float left / right but better */
 /* flex-direction: coloumn / coloumn-reverse; >> ta7t ba3d*/
 /* flex-wap: wrap >> zyada hatnzl ta7t | no-wrap >> default, zyada hatt2lel el width | wrap-reverse >> elzyada fo2 */
 /* flex-flow: direction, wrap;    ex>  row,wrap */
 /* align-items: flex-end / flex-start / centre / default is stretch */
 /* align-content: " " " " "" */
 /* for child:
 flex-grow / flex-shrink : 0,1,2..etc */ 
 /* order: 0,1,2,3 etc */
 /* flex-basis: 100px; */
 /* display: inline-flex; same as flex but doesnt break */



    .levw , .levw2 {
    width: 70%; 
    text-align: center;
    margin-left: 50px;
    position: relative; 

    }
    
  .levw {
    font-size: 30px;
    background-color: red;  
    transition-duration: 500ms;
    
   }
   .levw:hover {
     margin: 2px;
   }
   .levw::selection{
    background-color: black;
    color: cyan;
   }
 
  .levw2{
    font-size: 30px;
    background-color: blue;

    
  }
  